body{
  padding-top: 10em;

}

#mainTitle{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3.1em;
  margin-top: 1em;
  margin-bottom: 0;
  color: #2B2B2B;
}

.subtitle{
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  font-size: 1.5em;
  color: #6C7A89;
}

#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em
}

.contactLinks{
  margin-top: 3em;
  display: block;
  text-align: center;
}

.socialNetworkLink{
  font-family: 'Fira Mono', monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.7em;
  color: black;
}

footer {
  position: fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  margin: auto;
}

.love{
  font-family: "Arial", sans-serif;
  color: #6C7A89;
  text-align: center;
}

#heart{
  color: #C0392B;
}
